@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Archivo:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Righteous");
* {
  padding: 0;
  margin: 0;
}

body {
  font: 100% "Roboto", sans-serif;
  color: #333;
}

.overflowHidden {
  overflow: hidden;
}

.ScrollSceneIndicators {
  z-index: 9999999 !important;
}

.sidebar {
  position: relative;
}
.sidebar .hamburger {
  position: fixed;
  z-index: 99;
  right: 4%;
  top: 60px;
  cursor: pointer;
  opacity: 0;
}
.sidebar .navContactIcons {
  font-family: "Righteous", cursive;
  font-size: 126.2843px;
  letter-spacing: -9px;
  position: fixed;
  z-index: 2;
  left: 4%;
  top: 40px;
}
.sidebar .navContactIcons #mainLogo {
  opacity: 0;
}
.sidebar .navContactIcons a {
  padding: 0 15px;
}
.sidebar .slideLeft {
  width: 105%;
  transform: translateX(0);
}
.sidebar nav {
  font-family: "Archivo", sans-serif;
  width: 100%;
  height: 100vh;
  background: #fff;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  overflow: hidden;
  z-index: -1;
  opacity: 0;
}
.sidebar nav a {
  margin: 20px 0px;
  text-align: center;
  text-decoration: none;
  font-size: 3em;
  font-weight: 600;
  color: #bbb;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar nav .contactIcons {
  grid-column-start: 1/2;
  grid-column-end: 3;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px;
}
.sidebar nav .contactIcons a {
  margin-left: 150px;
}
.sidebar nav svg {
  margin-left: -150px;
  -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#intro-wrapper {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
#intro-wrapper .intro-bg {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 100vh;
}
#intro-wrapper .intro-content {
  background: #000;
  transition: background-color 500ms linear;
}
#intro-wrapper .intro-content .intro-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
#intro-wrapper .intro-content .intro-body {
  font-family: "Roboto", sans-serif;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#intro-wrapper .intro-content .intro-body .svg-wrapper {
  width: 320px;
  position: absolute;
  cursor: pointer;
}
#intro-wrapper .intro-content .intro-body .startBtn {
  color: #000;
  font-size: 8rem;
  position: relative;
  width: 400px;
  margin: 0 -50px;
}
@keyframes noise-anim {
  0% {
    clip: rect(38px, 9999px, 53px, 0);
  }
  3.3333333333% {
    clip: rect(82px, 9999px, 58px, 0);
  }
  6.6666666667% {
    clip: rect(14px, 9999px, 36px, 0);
  }
  10% {
    clip: rect(45px, 9999px, 51px, 0);
  }
  13.3333333333% {
    clip: rect(37px, 9999px, 39px, 0);
  }
  16.6666666667% {
    clip: rect(46px, 9999px, 32px, 0);
  }
  20% {
    clip: rect(94px, 9999px, 54px, 0);
  }
  23.3333333333% {
    clip: rect(22px, 9999px, 64px, 0);
  }
  26.6666666667% {
    clip: rect(7px, 9999px, 8px, 0);
  }
  30% {
    clip: rect(46px, 9999px, 86px, 0);
  }
  33.3333333333% {
    clip: rect(95px, 9999px, 55px, 0);
  }
  36.6666666667% {
    clip: rect(69px, 9999px, 13px, 0);
  }
  40% {
    clip: rect(10px, 9999px, 55px, 0);
  }
  43.3333333333% {
    clip: rect(68px, 9999px, 82px, 0);
  }
  46.6666666667% {
    clip: rect(14px, 9999px, 28px, 0);
  }
  50% {
    clip: rect(80px, 9999px, 82px, 0);
  }
  53.3333333333% {
    clip: rect(56px, 9999px, 56px, 0);
  }
  56.6666666667% {
    clip: rect(17px, 9999px, 59px, 0);
  }
  60% {
    clip: rect(43px, 9999px, 56px, 0);
  }
  63.3333333333% {
    clip: rect(45px, 9999px, 40px, 0);
  }
  66.6666666667% {
    clip: rect(41px, 9999px, 63px, 0);
  }
  70% {
    clip: rect(85px, 9999px, 65px, 0);
  }
  73.3333333333% {
    clip: rect(19px, 9999px, 18px, 0);
  }
  76.6666666667% {
    clip: rect(76px, 9999px, 31px, 0);
  }
  80% {
    clip: rect(16px, 9999px, 92px, 0);
  }
  83.3333333333% {
    clip: rect(80px, 9999px, 3px, 0);
  }
  86.6666666667% {
    clip: rect(40px, 9999px, 48px, 0);
  }
  90% {
    clip: rect(49px, 9999px, 20px, 0);
  }
  93.3333333333% {
    clip: rect(96px, 9999px, 52px, 0);
  }
  96.6666666667% {
    clip: rect(87px, 9999px, 99px, 0);
  }
  100% {
    clip: rect(22px, 9999px, 18px, 0);
  }
}
@keyframes noise-anim2 {
  0% {
    clip: rect(197px, 9999px, 227px, 0);
  }
  8.5714285714% {
    clip: rect(74px, 9999px, 9px, 0);
  }
  17.1428571429% {
    clip: rect(30px, 9999px, 45px, 0);
  }
  25.7142857143% {
    clip: rect(103px, 9999px, 104px, 0);
  }
  34.2857142857% {
    clip: rect(119px, 9999px, 215px, 0);
  }
  42.8571428571% {
    clip: rect(147px, 9999px, 103px, 0);
  }
  51.4285714286% {
    clip: rect(30px, 9999px, 294px, 0);
  }
  60% {
    clip: rect(187px, 9999px, 89px, 0);
  }
  68.5714285714% {
    clip: rect(192px, 9999px, 283px, 0);
  }
  77.1428571429% {
    clip: rect(62px, 9999px, 256px, 0);
  }
  85.7142857143% {
    clip: rect(11px, 9999px, 67px, 0);
  }
  94.2857142857% {
    clip: rect(128px, 9999px, 262px, 0);
  }
  102.8571428571% {
    clip: rect(63px, 9999px, 216px, 0);
  }
  111.4285714286% {
    clip: rect(195px, 9999px, 80px, 0);
  }
  120% {
    clip: rect(110px, 9999px, 286px, 0);
  }
  128.5714285714% {
    clip: rect(146px, 9999px, 273px, 0);
  }
  137.1428571429% {
    clip: rect(97px, 9999px, 80px, 0);
  }
  145.7142857143% {
    clip: rect(97px, 9999px, 166px, 0);
  }
  154.2857142857% {
    clip: rect(21px, 9999px, 257px, 0);
  }
  162.8571428571% {
    clip: rect(177px, 9999px, 247px, 0);
  }
  171.4285714286% {
    clip: rect(185px, 9999px, 82px, 0);
  }
  180% {
    clip: rect(160px, 9999px, 106px, 0);
  }
  188.5714285714% {
    clip: rect(51px, 9999px, 163px, 0);
  }
  197.1428571429% {
    clip: rect(41px, 9999px, 290px, 0);
  }
  205.7142857143% {
    clip: rect(104px, 9999px, 104px, 0);
  }
  214.2857142857% {
    clip: rect(142px, 9999px, 10px, 0);
  }
  222.8571428571% {
    clip: rect(41px, 9999px, 74px, 0);
  }
  231.4285714286% {
    clip: rect(146px, 9999px, 118px, 0);
  }
  240% {
    clip: rect(72px, 9999px, 153px, 0);
  }
  248.5714285714% {
    clip: rect(171px, 9999px, 37px, 0);
  }
  257.1428571429% {
    clip: rect(54px, 9999px, 126px, 0);
  }
  265.7142857143% {
    clip: rect(190px, 9999px, 32px, 0);
  }
  274.2857142857% {
    clip: rect(61px, 9999px, 244px, 0);
  }
  282.8571428571% {
    clip: rect(31px, 9999px, 78px, 0);
  }
  291.4285714286% {
    clip: rect(170px, 9999px, 133px, 0);
  }
  300% {
    clip: rect(33px, 9999px, 239px, 0);
  }
}
#intro-wrapper .intro-content .intro-body .startBtn:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: #000;
  background: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim2 2s infinite linear alternate-reverse;
}
#intro-wrapper .intro-content .intro-body .startBtn:before {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: 2px 0 blue;
  top: 0;
  color: #000;
  background: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}
#intro-wrapper .intro-content .landing-content {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#intro-wrapper .intro-content .landing-content .landing-left {
  margin-top: -50px;
  margin-left: 300px;
  color: #fff;
  width: 70%;
  transform: scale(1.1);
}
#intro-wrapper .intro-content .landing-content .landing-left #randomWord {
  color: #f4cd41;
}
#intro-wrapper .intro-content .landing-content .landing-left h1 {
  margin-top: -20px;
  font-size: 7rem;
  font-weight: 500;
}
#intro-wrapper .intro-content .landing-content .landing-left h2 {
  margin-top: -10px;
  font-size: 5rem;
  font-weight: 500;
}
#intro-wrapper .intro-content .landing-content .landing-left p {
  width: 70%;
  max-width: 900px;
  margin-top: 30px;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  color: #bbb;
}
#intro-wrapper .intro-content .landing-content .landing-down {
  position: absolute;
  bottom: 10%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: all 500ms linear;
  overflow: hidden;
}
#home-wrapper #background-text {
  height: 500px;
  width: 100%;
  position: absolute;
  bottom: -200px;
  display: flex;
  justify-content: center;
  font-size: 45rem;
  color: #eee;
  opacity: 0.5;
  font-family: "Archivo", sans-serif;
  letter-spacing: -100px;
  opacity: 0;
}
#home-wrapper #image-carousel {
  position: relative;
  left: 48%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100vh;
  border-radius: 0;
  overflow: hidden;
  opacity: 0;
}
#home-wrapper #image-carousel .handle {
  width: 400%;
  height: 100%;
  border-radius: 0;
}
#home-wrapper #image-carousel .handle .slide {
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#home-wrapper #image-carousel .handle .slide img {
  width: 800px;
  height: 450px;
  margin-left: -100px;
}
#home-wrapper #image-carousel .handle .slide .image-description {
  margin-left: 200px;
  width: 800px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: #000;
}
#home-wrapper #image-carousel .handle .slide .image-description h1 {
  font-weight: 300;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#home-wrapper #image-carousel .handle .slide .image-description h1 .letter {
  display: inline-block;
  line-height: 1em;
}
#home-wrapper #image-carousel .handle .slide .image-description p {
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
#home-wrapper #image-carousel .handle .slide .image-description p .letter {
  display: inline-block;
  line-height: 1em;
}
#home-wrapper #slider-control {
  width: 400px;
  height: 1px;
  background: #bbb;
  position: absolute;
  right: 52%;
  bottom: 10%;
  opacity: 0;
}
#home-wrapper #slider-control .value {
  font-family: "Archivo", sans-serif;
  margin-left: 20px;
  margin-top: -50px;
  color: #000;
}

#skills-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #000;
  transition: all 500ms linear;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  opacity: 0;
  align-items: center;
}
#skills-wrapper .skill-sentence {
  margin-top: 100px;
  height: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#skills-wrapper .skill-sentence h1 {
  font-family: "Playfair Display", serif;
  padding: 0 100px;
  font-size: 2.5rem;
  font-weight: 300;
  font-style: italic;
  color: #000;
  opacity: 0;
}
#skills-wrapper .skill-sentence p {
  color: #000;
  font-style: italic;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0 100px;
  opacity: 0;
}
#skills-wrapper .skill-titles {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
#skills-wrapper .skill-titles #techTitle, #skills-wrapper .skill-titles #desTitle, #skills-wrapper .skill-titles #proTitle {
  margin-right: 10px;
  cursor: pointer;
}
#skills-wrapper .skill-titles #proTitle {
  margin-right: 0px;
}
#skills-wrapper .skill-titles p {
  width: 400px;
  height: 400px;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
  line-height: 400px;
  color: #fff;
}
#skills-wrapper .skill-titles p .letter {
  display: inline-block;
  line-height: 1em;
}
#skills-wrapper .skill-head {
  width: 45%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
#skills-wrapper .skill-head #techHead, #skills-wrapper .skill-head #desHead, #skills-wrapper .skill-head #proHead {
  margin-left: 100px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 400;
  text-align: center;
  line-height: 100px;
  left: 0;
  z-index: 12;
  color: #fff;
  font-size: 2rem;
  opacity: 0;
}
#skills-wrapper .skill-list {
  width: 55%;
  height: 100%;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#skills-wrapper .skill-list #techList, #skills-wrapper .skill-list #desList, #skills-wrapper .skill-list #proList {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  font-size: 2em;
  text-align: center;
  opacity: 0;
}
#skills-wrapper .skill-list #techList ul, #skills-wrapper .skill-list #desList ul, #skills-wrapper .skill-list #proList ul {
  list-style: none;
}
#skills-wrapper .skill-list #techList ul li, #skills-wrapper .skill-list #desList ul li, #skills-wrapper .skill-list #proList ul li {
  height: 70px;
}
#skills-wrapper .skill-back-btn {
  position: absolute;
  right: 40px;
  top: 40px;
  z-index: 7;
  opacity: 0;
  cursor: pointer;
}
#skills-wrapper .skill-boxes {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
#skills-wrapper .skill-boxes #box1 {
  margin-right: 10px;
  width: 400px;
  height: 400px;
  background-color: #d0e7eb;
}
#skills-wrapper .skill-boxes #box2 {
  margin-right: 10px;
  width: 400px;
  background-color: #1c8387;
  height: 400px;
}
#skills-wrapper .skill-boxes #box3 {
  width: 400px;
  background-color: #d00b04;
  height: 400px;
}
#skills-wrapper .skill-boxes svg {
  width: 100%;
}

/*# sourceMappingURL=styles.css.map */
